// Foundation
* {
    font-family: 'Lora', serif;
    font-size: 18px;
}

#main {
    position: absolute;
    margin: auto;
    top:0; bottom:0; left:0; right: 0;
    transform: scale(0.5);
    transform-origin: top left;
}

canvas {
    border: solid 1px #000000;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 4px;
    display: none;
    flex-direction: column;
    max-height: 480px;
    border: solid 1px #000000;
    background-color: #ffffff;
    align-items: flex-start;
    align-content: flex-start;
}

.menu-item {
    padding: 8px 12px 8px 12px;
    min-width: 80px;
    font-family: monospace;
    font-size: 12px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.menu-item:hover {
    background-color: #000;
    color: #fff;
}